EXPO_PUBLIC_FIREBASE_API_KEY="AIzaSyBAZmesdigsIO-ALaFjM1DD8JfALb8q8bI"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN="pgapp-ea353.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID="pgapp-ea353"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET="pgapp-ea353.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="236183421755"
EXPO_PUBLIC_FIREBASE_APP_ID="1:236183421755:web:db9155d78ac75b846e2d1e"
